html {
  font-size: 18px;
  line-height: 1.5;
}

#page {
  margin: auto;
  width: 600px;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1.5rem 0;
}

h2 {
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

p {
  margin: 0 0 1.5rem 0;
}
